[Desktop Entry]
Type=Application
Name=Install TunaOS
Comment=Install TunaOS on this computer
Exec=tuna-installer-xfce
Icon=org.tunaos.InstallerXfce
Terminal=false
Categories=System;
Keywords=install;installer;tunaos;bootc;
